*{
    margin: 0;
    padding: 0;   
    box-sizing: border-box;     
}

body {
    background-color: rgb(28, 184, 223);
}

#lienzo {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: rgb(73, 202, 230);
}

.circulo {
    width: 100px;
    height: 100px;
    background: red;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;

}
